h1, h2, h3, h4 {

    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;

}

p {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

img {

    justify-content: center;
    padding: 5px;
    size: 500px;

}